Debug/
Release/
_win32/_ReSharper.kumi/*
data/
ipch/
*.ilk
*.lib
*.pdb
*.pyd
*.pyc
*.ncb
*.suo
*.vcproj.*
*.exp
*.bmp
*.*~
*.zip
*.obj
*.exe
*.opensdf
*.psess
*.sdf
*.vsp
*.log
*.user
*.swp
*.vs
*.vso
*.ps
*.pso
